<h1>Click Link To View Department Stores </h1>
<%= link_to 'Add Department stores', new_department_path %>
<ul>
  <% @departments.each do |department| %>

    <li><%= link_to department.name, department %></li>
  <% end %>
</ul>